/.idea
/.vscode
/.claude
compile_commands.json
lkm-devtools.toml
/android-kernel
/build
lkm-devtools

.devcontainer/.env

# 不开源的文件
wuwa_cproc.c
wuwa_cproc.h
wuwa_core.c
wuwa_core.h
wuwa_inlinehook.h
wuwa_inlinehook.c
wuwa_gpu.h
wuwa_gpu.c
wuwa_msm.h
wuwa_msm.c
settings.json

# AI 相关文件
CLAUDE.md

# 构建垃圾
*.o.cmd
*.ko.cmd
*.mod.cmd
*.cmd
*.order
*.symvers
*.o
*.mod

android-wuwa.mod.c
android-wuwa.lds
android-wuwa.ko

